# Logs
logs
*.log
npm-debug.log*

# Dependências e Build (Node)
node_modules
dist
dist-ssr
*.local

# Dependências (PHP/Composer)
vendor/

# Variáveis de Ambiente
*.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?